.company-name {
  margin-top: 0;
}

.non-fixed-content {
  position: relative;
  top: 154px;
  padding: 0 100px;
}

.search-query {
  h3 {
    margin: 0;
    text-align: center;
    display: block;
  }
}
