.progress-arc-label {
  display: block;
  text-align: center;
}

.stats-label-misc {
  margin: 10px 0;
}

.stats {
  margin-bottom: 50px;
}

span.bold {
  display: block;
  font-weight: 700;
}

.review-content {
  font-size: 18px;
}
