@import '../../../styles/colors';

.progress {
    position: relative;
    width: 80%;
    height: 5px;
    background-color: palette("gray");
}

.bar {
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: palette("accent-pink");
}

/* If you want the label inside the progress bar */
.progress-label {
  text-align: center; /* If you want to center it */
  line-height: 5px; /* Set the line-height to the same as the height of the progress bar container, to center it vertically */
  color: #fff;
}

.single-stat-bar-label {
  font-size: 18px;
  margin: 0;
}
