@import '../../styles/colors';

.single-stat {
  position: relative;
  padding: 0;
}

.vertical-divider {
  position: absolute;
  top: 10px;
  right: 7px;
  display: block;
  width: 1px;
  height: 26px;
  background-color: palette("gray", -30);
}

.single-stat-number {
  text-align: center;
  margin: 0;
}

.single-stat-label {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  margin: 0;
  margin-top: 3px;
}
